/* Login style sheet */
.login-container{
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container button{
    border: none;
    padding: 10px 15px;
    background-color: rgb(230, 15, 15);
    font-weight: 790;
    color: white;
    border-radius: 5px;
}

.login-container button:hover{
    background-color: rgb(197, 103, 103);
}