.banner-container{
    background-image: url('../../images/Banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
}


.banner-container img{
/* width: 100%;
height: 180%; */
}