/* Banner style sheet */
.banner-container{
    background-image: url('../../images/Banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
    display: flex;
    justify-content: center;
}

.banner-container h1{
    color: rgb(90, 84, 84);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.banner-container h2{
    color: rgb(184, 165, 165);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
