/* book container style sheet */
.book-container{
    background-color: gainsboro;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
}
.book-img{
    width: 300px;
    height: 250px;
    border-radius: 10px;
}